<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="log.base" value="log" />

	<appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}localserver.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${log.base}localserver.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>100</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>
	
	
	<appender name="db" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}db.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${log.base}db.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>50</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %-5level - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${log.base}error.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>50</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %-5level - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="db" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="db" />
	</logger>
	<logger name="error" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="error" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="default" />
	</root>
	
</configuration>