package ${package}.server;

import java.sql.SQLException;

import com.xunlei.game.api.Result;
import com.xunlei.game.api.ResultException;
import com.xunlei.game.module.util.C3P0DataSourceUtil;

import com.xunlei.game.kit.id.UuidGen;

import org.slf4j.LoggerFactory;

#foreach($mapping in $mappingMap.entrySet())
import ${package}.vo.${mapping.key}Vo;
#end

public class ServerBo {
	private static ServerBo instance = new ServerBo();
	private DaoFactory daoFactory;
	
	private UuidGen uuidGen = new UuidGen();

	private ServerBo() {
		daoFactory = new DaoFactory(C3P0DataSourceUtil.createDataSource("db.properties"), LoggerFactory.getLogger("db"));
	}

	public static ServerBo getInstance() {
		return instance;
	}
	
	public String createId() {
		return uuidGen.createId();
	}
	
	public DaoFactory getDaoFactory() {
		return daoFactory;
	}

#foreach($mapping in $mappingMap.entrySet())
#set($key = "${mapping.key}")
#set($first = "$key.substring(0,1).toLowerCase()")
#set($other = "$key.substring(1)")
#set($object = "$first$other")

	public String add${mapping.key}(${mapping.key}Vo ${object}Vo) throws ResultException, SQLException{
		String id = ${object}Vo.getId();
		daoFactory.get${mapping.key}Dao().save(${object}Vo);
		return id;
	}
	
	public Result delete${mapping.key}(String id) throws SQLException {
		daoFactory.get${mapping.key}Dao().delete(id);
		return Result.OK;
	}
	
	public Result delete${mapping.key}(String[] ids) throws SQLException {
		daoFactory.get${mapping.key}Dao().deleteList(ids);
		return Result.OK;
	}
	
	public int total${mapping.key}() throws ResultException, SQLException {
		int total = daoFactory.get${mapping.key}Dao().count();
		return total;
	}
	
	public ${mapping.key}Vo view${mapping.key}(String id) throws ResultException, SQLException {
		${mapping.key}Vo vo = daoFactory.get${mapping.key}Dao().query(id);
		return vo;
	} 
#end	

}